# requirements.txt
fastapi==0.115.0
uvicorn[standard]==0.31.1
pydantic==2.9.2
pandas==2.2.3
numpy==2.1.2
scikit-learn==1.5.2
xgboost==2.1.1
shap==0.45.1
pyarrow==17.0.0
sqlalchemy==2.0.36
requests==2.32.3
python-dotenv==1.0.1
